{% extends "layout.html" %}
{% block title %}
    About Me
{% endblock %}
{% block main %}
    <h1 class="text-center">
        About Me 
    </h1>
    <div class="container-sm">

        <p id="about" class="text-center animate__animated animate__fadeInUp animate__delay-1s">
        Now, this may sound typical, but it is what
        it is. I have been a technology enthusiast
        since childhood and have always been fascinated
        by technology in general rather than computers.
        My interest in learning computers really deepened
        when i got to know that computers are the basic
        building blocks of nearly everything and thus, i decided
        to pursue a degree in computer science.
        Right after school I had about 4 months of time
        untill college started so i invested that time in 
        learning computational basics and hence completed this 
        portfolio website as a final project for <b>CS50.</b> 



        </p>
    </div>
{% endblock %}