{% extends "layout.html" %}
{% block title %}
    HOME
{% endblock %}
{% block main %}
    
    
    <img align="left" id="avatar" src="/static/avatar.png" class="img-responsive">
            
        <p id="main-text" class="animate__animated animate__pulse">
            Hello, I am <b id="name">Vansh Sohi,</b><br>
            an aspiring computer science <br>
            student about to enter<br>
            first year of college.
        </p>
           

    
        
        <div class="container-sm">
            <h3>
                Like this site : <br>
                Total Likes: {{likes}} 
            </h3>
            <form method="post" action="/like">
                
                    <button class="btn btn-primary" type="submit">Like</button>
            </form>

            
        </div>
    
        
        
    

{% endblock %}